#wrapper {
    width: 100%;

}

.sf-navbar, .sf-navbar ul {
    list-style:  none;
    position: relative;
}

.sf-navbar a {
    display: block;
    color: #fff;
    text-decoration: none;
    background: #6CD100;
}

 .curent {
background: #FF4687 !important;
color: white !important;
}
.sf-navbar a:hover {
    background: #FF4687;
    color: #fff;
}
.sf-navbar li {
    float: left;
    position: relative;
}

.sf-navbar ul {
    position: absolute;
    width: 12em;
    display: none;
}

.sf-navbar li ul a {
    width: 12em;
    float: left;
}

.sf-navbar ul ul {
    top: auto;
}

.sf-navbar li ul ul {
    left: 168px;
}

.sf-navbar li:hover ul ul, 
.sf-navbar li:hover ul ul ul,
.sf-navbar li:hover ul ul ul ul {
    display: none;
}

.sf-navbar li:hover ul,
.sf-navbar li li:hover ul,
.sf-navbar li li li:hover ul,
.sf-navbar li li li li:hover ul {
    display: block;
}























